# Sales Analysis

### Import necessary libraries

In [10]:
import pandas as pd
import os

### Merge data from each month into one CSV

In [16]:
files = [file for file in os.listdir('./SalesAnalysis/Sales_Data') if not file.startswith('.')] 

mergeData = pd.DataFrame()

for file in files:
    curr_data = pd.read_csv('./SalesAnalysis/Sales_Data/'+file)
    mergeData = pd.concat([mergeData,curr_data])
    
mergeData.to_csv('all_data.csv',index=False)

### Read in updated dataframe

In [21]:
all_data = pd.read_csv('all_data.csv')
print(all_data.count())

Order ID            186305
Product             186305
Quantity Ordered    186305
Price Each          186305
Order Date          186305
Purchase Address    186305
dtype: int64

### Clean up the data

The first step in this is figuring out what we need to clean. I have found in practice, that you find things you need to clean as you perform operations and get errors. Based on the error, you decide how you should go about cleaning the data

##### Drop rows of NAN

In [29]:
# Find NAN
nan_df = all_data[all_data.isna().any(axis=1)]
display(nan_df.head())

all_data = all_data.dropna(how='all')
all_data.head()

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address]
Index: []

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

##### Get rid of text in order date column

In [33]:
all_data = all_data[all_data['Order Date'].str[0:2]!='Or']
print(all_data.head())

  Order ID               Product Quantity Ordered Price Each      Order Date  \
0   295665    Macbook Pro Laptop                1       1700  12/30/19 00:01
1   295666    LG Washing Machine                1      600.0  12/29/19 07:03
2   295667  USB-C Charging Cable                1      11.95  12/12/19 18:21
3   295668      27in FHD Monitor                1     149.99  12/22/19 15:13
4   295669  USB-C Charging Cable                1      11.95  12/18/19 12:38

                         Purchase Address
0  136 Church St, New York City, NY 10001
1     562 2nd St, New York City, NY 10001
2    277 Main St, New York City, NY 10001
3     410 6th St, San Francisco, CA 94016
4           43 Hill St, Atlanta, GA 30301

##### Make columns correct type

In [36]:
all_data.loc['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'], errors='coerce')
all_data.loc['Price Each'] = pd.to_numeric(all_data['Price Each'], errors='coerce')

##### Augment data with additional columns

Add month column

In [43]:
all_data['Order Date'] = all_data['Order Date'].astype('str')
all_data = all_data.dropna(subset=['Order Date']) 

def is_valid_date(date_str):
    try:
        pd.to_datetime(date_str, format='%m/%d/%y %H:%M')
        return True
    except ValueError:
        return False
        
all_data = all_data[all_data['Order Date'].apply(is_valid_date)]

all_data['Month'] = all_data['Order Date'].str[0:2].astype('int32')


all_data.head()

/var/folders/2q/n7vgjd694zd8pxztn7p8fd140000gn/T/ipykernel_90457/3073152557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Order Date'] = all_data['Order Date'].astype('str')

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,295665,Macbook Pro Laptop,1.0,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",20
1,295666,LG Washing Machine,1.0,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",20
2,295667,USB-C Charging Cable,1.0,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",20
3,295668,27in FHD Monitor,1.0,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",20
4,295669,USB-C Charging Cable,1.0,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",20